*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #282828;    
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

.items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 14%);
    border: 2px solid green;
    place-items: center;
    grid-column-gap: 10px;
}

.item-wrapper {
    width: 100%;
}

h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: .9rem;
    font-weight: lighter;
}

h3 {
    font-size: 1rem;
    font-weight: 550;
}

img {
    width: 100%;
}

.section-4-banner {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer {
    background-color: white;
}

.app-container {
    display: grid;
    grid-template-columns: .9fr 1.5fr 1fr;
}

#googleplay, #appstore {
    border: 2px solid black;
    padding-top: 15px;
}

.links-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-icon-links {
    display: grid;
    grid-template-columns: .33fr 1fr;
}

.footer-footer {
    display: flex;
    justify-content: center;
}

.footer-svg {
    filter: brightness(0) invert(1);    
}

.footer-svg:hover {
    filter: none;
}

svg {
    /* fill: #fff; */
}

svg:hover {
    fill: #f68b1e;
}