*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    scroll-behavior: smooth;
}

body {
    color: #282828;    
    font-family: 'Roboto', sans-serif;
    background: #f7f6f6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

img {
    width: 100%;
}

.section-4-container {
    margin-bottom: 1rem;
}

.items-wrapper, .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 46.5%);
    place-content: center;
}

.items-wrapper {
    grid-gap: 7px;
}

.items-container {
    column-gap: 7px;
    background: #ffffff;
}

.item-container, .item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
    width: 100%;
    padding: 10px;
    background: white;
}

.item-wrapper {
    border-radius: 4px;
}


.item-wrapper h4, .item-container h4{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: .8rem;
    font-weight: lighter;
    margin: 0 auto;
    width: 90%;
}

h3 {
    font-size: .9rem;
    font-weight: lighter;
    text-align: center;
    margin-top: .2rem;
}

.item-wrapper img, .item-container img {
    width: 100px;
    height: 100px;
}

.discount-tag {
    background: #feefde;
    padding: 3px 8px;
    color: #f68b1e;
    font-size: .9rem;
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 2px;
}

.section-4-banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, 48.6%);
    margin-top: .5rem;
    padding: .5rem;
    column-gap: 7px;
    background: #ffffff;
    place-content: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
}

.section-4-banner a {
    height: 125px;
}

.section-4-banner img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.search-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .8rem 1rem;
}

.search-container span {
    font-size: .8rem;
    margin-top: .5rem;
}

.section-4-about {
    background: white;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
}

.section-4-about h5 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-top: .4rem;
}

.section-4-about h6 {
    font-weight: lighter;
    font-size: 1.13rem;
    margin-top: .5rem;
}

.section-4-about p {
    font-size: .75rem;
    margin-top: .5rem;
    text-align: justify;
}

.section-4-about button, .section-4-about:active {
    display: flex;
    background-color: transparent;
    border: 0;
    margin: 0 auto;
    margin-top: .5rem;
    padding: .5rem;
    color: #f68b1e;
}

.footer-mobile {
    background: #282828;
    color: white;    
    font-size: .65rem;
}

.go-to-top {
    background: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: .5rem;
}

.footer-mobile-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
    margin: 0 1rem;
    padding: .5rem 0;
}

.footer-mobile-links a {
    text-align: center;
    padding: .5rem;
}

.footer-mobile p {
    color: #75757A;;
    font-size: .77rem;
    text-align: center;
    padding: .4rem 0 .8rem 0;
}

footer {
    background-color: white;
}

.app-container {
    display: grid;
    grid-template-columns: .9fr 1.5fr 1fr;
}

#googleplay, #appstore {
    border: 2px solid black;
    padding-top: 15px;
}

.links-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-icon-links {
    display: grid;
    grid-template-columns: .33fr 1fr;
}

.footer-footer {
    display: flex;
    justify-content: center;
}

.footer-svg {
    filter: brightness(0) invert(1);    
}

.footer-svg:hover {
    filter: none;
}

svg {
    /* fill: #fff; */
}

svg:hover {
    fill: #f68b1e;
}

.place-left {
    text-align: right;
    font-size: .8rem;
}

.no-display {
    display: none;
}